<div class="justify-content-between align-items-center mb-3 bg-white p-3 rounded shadow-sm mr-5">
  <div class="row">
    <div class="col-8">
      <h4 class="mb-0 fw-bold ">User Dashboard</h4>
    </div>
    <div class="col-4">
      <input class="form-control" type="search" placeholder="Search by name or email" [(ngModel)]="searchText"
        (input)="searchUser()" aria-label="Search" />
    </div>
  </div>
</div>

<div style="min-height: 450px" class="bg-white p-3">
  <table *ngIf="!loading && !error" class="table p-5">
    <thead>
      <tr>
        <!-- Name column -->
        <th (click)="sort('name')" class="cursor-pointer">
          Name
          <span>
            {{ sortColumn === 'name' ? (sortDirection === 'asc' ? '▲' : '▼') : '⇅' }}
          </span>
        </th>
        <th>Email</th>
        <th>Phone</th>
        <th (click)="sort('company')" class="cursor-pointer">
          Company
          <span>
            {{ sortColumn === 'company' ? (sortDirection === 'asc' ? '▲' : '▼') : '⇅' }}
          </span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let user of filteredUsers">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.company.name }}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="filteredUsers.length === 0" class="alert alert-info alert-posstion">
    No User Found.
  </div>
  <!-- delete modal  -->
</div>
<pagination *ngIf="filteredUsers.length" class="custom-pagination" [totalItems]="totalItems" [(ngModel)]="currentPage"
  [itemsPerPage]="itemsPerPage" [maxSize]="5" [boundaryLinks]="true" previousText="«" nextText="»" firstText="First"
  lastText="Last" (pageChanged)="onPageChange($event)">
</pagination>
